.bot {
  position: relative;
  height: 50rem;

  bottom: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  font-family: "Luckiest Guy", cursive;
  color: rgb(56, 56, 56);
}

h1 {
  font-size: 2rem;
}
.dialog {
  width: 100%;
  min-width: 5rem;
  max-width: 60rem;
  height: auto;

  min-height: 5rem;
  max-height: 20rem;
  font-size: 2rem;
  padding: 0.4rem;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px;
}
@media (min-width: 768px) {
  .dialog {
    width: 60%;
    min-height: 10rem;
    max-height: 20rem;
    font-size: 2rem;
    padding: 0.4rem;
  }
  h1 {
    font-size: 3.5rem;
  }
}

span {
  font-size: 2.3rem;
  font-weight: bold;
  color: #38a3d7;
  text-shadow: 2px 2px 2px gainsboro;
  text-transform: capitalize;
}
.pitufo {
  filter: drop-shadow(10px 20px 15px rgb(209, 207, 207));
  z-index: 10;
  width: 100%;
}

@media (min-width: 768px) {
  .pitufo {
    width: 30%;
  }
}

.btn {
  margin-top: 2rem;
  width: 50%;
  background-color: #38a3d7;
  border: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border-radius: 3rem;
  font-size: 1.8rem;
  box-shadow: 1px 1px 1px #333;
  cursor: pointer;
  transition: all 300ms;
}

.btn:hover {
  background-color: #1eabf1;
}
